<section class="my-24 mx-5 text-white content-center">
  <h3 class="text-4xl text-center font-semibold text-pretty">
    Contacto y Ubicacion
  </h3>
  <div class="flex flex-row justify-between items-center w-full py-10">
    <div class="flex flex-col text-pretty gap-3 px-44">
      <a
        href="https://wa.me/2216620552?text=Hola,%20estoy%20interesado(a)%20en%20los%20servicios%20de%20adiestramiento%20de%20perros%20y%20me%20gustar%C3%ADa%20obtener%20m%C3%A1s%20informaci%C3%B3n.%20%C2%BFPodr%C3%ADan%20proporcionarme%20detalles%20sobre%20los%20programas%20disponibles,%20precios%20y%20disponibilidad?%20Gracias."
        class="hover:underline hover:text-[#075E54] transition-colors"
        target="_blank"
        rel="noopener noreferrer">Whatsapp: 221 662 0552</a
      >
      <a
        href="https://maps.app.goo.gl/TGYWeef7goiwqRZo9"
        class="hover:underline"
        target="_blank"
        rel="noopener noreferrer"
      >
        Dirección:C. 7 Sur 2101, Héroe de Nacozari, 72423 Heroica Puebla de
        Zaragoza, Pue.
      </a>
    </div>
    <div class="text-pretty flex flex-col gap-3 py-12 px-5">
      <p class="text-2xl">Consultas Presenciales y en Línea</p>
      <div>
        <p>Lunes a Viernes</p>
        <p>9:00 AM a 2:00 PM 4:00 PM a 6:00 PM</p>
      </div>
      <p>Sábados</p>
      <p>2:00 PM a 5:00 PM</p>
    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d942.8897568780008!2d-98.20842153038089!3d19.039143566625953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cfc0c51db603af%3A0x82c2848a2aed40e5!2sC.%207%20Sur%202101%2C%20H%C3%A9roe%20de%20Nacozari%2C%2072423%20Heroica%20Puebla%20de%20Zaragoza%2C%20Pue.!5e0!3m2!1sen!2smx!4v1719177800699!5m2!1sen!2smx"
    height="450"
    class="w-full"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
