<div
  class="relative h-dvh w-full max-w-[100vw] md:aspect-video md:h-[80vh] xl:h-full text-white mt-0.5 -z-50"
>
  <div
    class="absolute inset-0 h-full justify-center z-10 m-auto flex flex-col items-center w-full"
  >
    <section
      class="absolute z-10 animate-blurred-fade-in flex justify-center items-center gap-8 flex-col"
    >
      <h1
        id="sobre-nosotros"
        class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl z-40 font-['Fugaz One']"
      >
        <span>N</span>
        <span>U</span>
        <span>T</span>
        <span>R</span>
        <span>I</span>
        <span>B</span>
        <span>Y</span>
        <span>M</span>
      </h1>

      <p
        class="subtitle text-xl lg:text-2xl text-center text-wrap font-jura px-4 text-white/80"
      >
        Tu Salud, Nuestra Misión. Nutrición Personalizada para Cada Etapa de Tu
        Vida.
      </p>
    </section>
  </div>
  <div class="flex -z-20">
    <!-- <div class="w-full h-screen bg-amber-500"></div>
    <div class="w-full h-screen bg-fuchsia-600"></div> -->
    <img
      src="/img/nutriologa.webp"
      alt=""
      class="cp-v h-screen w-full object-cover animate-duration-[2s] animate-ease-in-out"
    />
    <img
      src="/img/nutriologo.webp"
      alt=""
      class="cp-v h-screen w-[958px] object-cover animate-duration-[2s] animate-ease-in-out"
    />
  </div>
</div>
