---
---

<div
  class="relative mx-auto mb-20 max-w-[70ch] text-pretty px-6 text-left text-xl sm:px-20 text-white"
  id="main-content"
>
  <h2 class="text-4xl font-semibold mx-auto mb-10 tracking-wide text-center">
    Nuestra Mision
  </h2>

  <div class="flex flex-col gap-6 items-center">
    <p>
      En Nutribym,
      <strong>nos especializamos en nutrición clínica y deportiva</strong> para ayudarte
      a alcanzar tus metas de salud.
    </p>

    <p>
      Con <strong>planes personalizados</strong> y <strong
        >el apoyo de nuestros expertos</strong
      >, te guiamos <strong
        >en cada paso hacia un estilo de vida más saludable</strong
      > y <strong>equilibrado</strong>.
    </p>

    <p>
      Ya sea que busques mejorar tu <strong
        >rendimiento deportivo, manejar una condición de salud</strong
      > o <strong>simplemente sentirte mejor</strong>, estamos aquí para
      acompañarte y apoyarte.
    </p>
    <p class="text-center font-semibold text-2xl">
      ¡Tu bienestar es nuestra misión!
    </p>
    <a
      href="/nosotros"
      class="mt-5 py-2 px-3 bg-orange-300 rounded-lg hover:bg-orange-400 hover:scale-105 transition-all"
      >Conoce a nuestro equipo</a
    >
  </div>
</div>
