---
import ItemSlide from '@/components/ItemSlide.astro'
---

<section>
  <h2 class="text-center text-3xl font-bold">Testimonios</h2>
  <p class="text-center text-xl">
    Estos son algunos de los testimonios de nuestros clientes.
  </p>
  <div class="slider">
    <div class="slide-track gap-5">
      <div class="slide">
        <ItemSlide
          img="1"
          text="Me encantó el servicio, muy rápido y eficiente. ¡Gracias!"
          name="Juan Pérez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="2"
          text="¡Excelente servicio! Muy recomendado."
          name="María González"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="3"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="4"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="5"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="6"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="1"
          text="Me encantó el servicio, muy rápido y eficiente. ¡Gracias!"
          name="Juan Pérez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="2"
          text="¡Excelente servicio! Muy recomendado."
          name="María González"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="3"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="4"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="5"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="6"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="1"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
      <div class="slide">
        <ItemSlide
          img="2"
          text="¡Muy buen servicio! ¡Gracias!"
          name="Pedro Ramírez"
        />
      </div>
    </div>
  </div>
</section>

<style>
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      /* transform: translateX(calc(-270px * 6)); */
      transform: translateX(-50%));
    }
  }

  .slider .slide-track {
    animation: scroll 30s linear infinite;
    display: flex;
    /* width: calc(250px * 14); */
    width: 100%;
  }

  .slide:hover {
    animation-play-state: paused;
  }

  .slider:hover .slide-track {
    animation-play-state: paused;
  }
</style>
