---
import ButtonLinks from '@/components/ButtonLinks.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title="Página no encontrada"
  description="Web Oficial de Nutribym, nutricionista en Puebla"
>
  <div class="text-center text-white content-center w-full h-screen -my-48">
    <h1 class="text-4xl font-bold text-center">Página no encontrada</h1>
    <p class="my-5">La página que buscas no existe o ha sido movida.</p>
    <ButtonLinks link="/">Inicio</ButtonLinks>
  </div></Layout
>
