---
import Layout from '@/layouts/Layout.astro'

import Hero from '@/pages/sections/Hero.astro'
import InfoMision from '@/pages/sections/InfoMision.astro'
import Bento from '@/pages/sections/Bento.astro'
import Nutricion from '@/pages/sections/Nutricion.astro'
import Testimonios from '@/pages/sections/Testimonios.astro'

import Contacto from '@/pages/sections/ContactoUbi.astro'
import HeroContainer from '@/components/HeroContainer.astro'
---

<Layout
  title="Nutribym"
  description="Web Oficial de Nutribym, nutricionista en Puebla"
  canonical="https://nutribym.com/"
>
  <!-- <Hero /> -->

  <HeroContainer img="/img/nutriologo.webp">
    <h1
      id="sobre-nosotros"
      class="flex items-center gap-5 text-4xl md:text-6xl lg:gap-20 lg:text-8xl z-40 font-fugazOne"
    >
      <span>N</span>
      <span>U</span>
      <span>T</span>
      <span>R</span>
      <span>I</span>
      <span>B</span>
      <span>Y</span>
      <span>M</span>
    </h1>

    <p
      class="subtitle text-xl lg:text-2xl text-center text-wrap font-jura px-4 text-white/80"
    >
      Tu Salud, Nuestra Misión. Nutrición Personalizada para Cada Etapa de Tu
      Vida.
    </p>
  </HeroContainer>

  <main
    class="mx-auto min-h-screen max-w-7xl selection:bg-primary selection:text-secondary mt-20 md:pt-32 lg:px-10 content-center"
  >
    <InfoMision />
    <Bento />
    <Nutricion />
  </main>

  <Testimonios />
  <Contacto />
</Layout>
