---
const especialidad = [
  'Diabetes',
  'Hipertensión',
  'Obesidad',
  'Lesiones Deportivas',
  'Vegetarianos',
  'Veganos',

  'Alergias Alimentarias',

  'Ristencia a la insulina',
]
---

<ul
  class="grid lg:grid-cols-2 gap-x-3 text-white text-lg text-left lg:text-xl mt-5 lg:mt-10 "
>
  {
    especialidad.map((item) => (
      <li>
        <strong>✔</strong> {item}
      </li>
    ))
  }
</ul>
